/* Intro */
body {
    width: 100%;
    background: url("../img/error.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
h1{
    max-width: 880px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding: 100px 50px;
}
.content{
    padding: 0px;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #f0f0f0;
    background-color: #06357a;
}

.navbar-default .navbar-nav>li>a {
    color: #f0f0f0;
}

.container-fluid {
    background: rgba(0, 170, 238, 0);
}