.body{
  background: #e5c7ca url(../img/singIn.jpg);
  background-size: cover;
}

.login-dark form {
  max-width: 400px;
  width: 90%;
  background-color: #1e2833;
  padding: 20px 40px ;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 55%;
  left: 50%;
  color: #fff;
}

.login-dark .illustration {
  padding-top: 0;
  text-align: center;
  font-size: 50px;
  color: #2980ef;
}

.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .btn-primary {
  background: #214a80;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background: #214a80;
  outline: none;
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}

.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

.required {
  font-size: 12px;
  color: #cfe2ff;
  font-style: italic;
}

h4{
  color: hotpink;
  font-size: 15px;
}

.vkbut{
  padding: 5px 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}